<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h1>Add Employee</h1>
	<form th:action="addEmployee" th:object="${employee}" method="POST" >
		Firstname: <input name="firstname"></input> 
		<br></br>
		Lastname: <input name="lastname"></input> 
		<br></br>
		Location: <input name="location"></input>
		<br></br>
		Role: <input name="role"></input>
		<br></br><br></br>
		<input type="submit" value="Add employee" ></input>
	</form>
</body>
</html>