<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h1>Edit Employee</h1>
	
	
	
	<form th:action="updateEmployee" >
		
		<input type="hidden" name="id" th:value="${employee.id}" ></input>
		Firstname: <input name="firstname" th:value="${employee.firstname}" ></input> 
		<br></br>
		Lastname: <input name="lastname" th:value="${employee.lastname}" ></input> 
		<br></br>
		Location: <input name="location" th:value="${employee.location}" ></input>
		<br></br>
		Role: <input name="role" th:value="${employee.role}" ></input>
		
		<input type="hidden" name="registration_date" th:value="${employee.registration_date}" ></input>
		<br></br><br></br>
		<input type="submit" value="Edit employee" ></input>
	
		
	</form>
	
	
	
	



</body>
</html>